@page "/usuarios"


@inject IUsuarioService iUsuarioServicio;
@inject SweetAlertService SWAService;
@inject NavigationManager navService

@using Microsoft.AspNetCore.Authorization;
@attribute [Authorize(Roles="Administrador")];


<style>
    body {
        background: #262a2d;
    }
</style>
<h1 style="color:#FFF; text-align:center; margin-top: 10px; font-weight: 900">USUARIOS</h1>
<div class="row justify-content-center  mt-3" style="background-color: #262a2d;">
    <div class="col-sm-6 col-md-4 col-xl-3 mb-4">
        <div class="d-grid gap-1 col-12 mx-auto">
            <a class="btn btn-primary" href="/usuario" style="font-weight:600; font-size:20px">Nuevo usuario</a>
        </div>
    </div>
</div>

<div class="row gx-4 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4 justify-content-start mt-2">

 
    @if (lista != null)
    {
        foreach(var item in lista){
            <div class="col mb-5">
                <div class="card h-100" style="background:#383b3d; border: 2px solid #fff; border-radius: 10px;">
                    <div class="card-body p-4">
                        <div class="text-center">
                            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-person" viewBox="0 0 16 16" style="color:#fff">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6m2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0m4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4m-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10s-3.516.68-4.168 1.332c-.678.678-.83 1.418-.832 1.664z" />
                            </svg>
                        </div>
                        <div class="text-start" style="margin-top: 14px; text-align:center">
                            <p class="m-1" style="color:#fff; text-transform:uppercase; font-weight: bold; font-size: 0.8rem;"><b>Nombre: </b>@item.NombreCompleto</p>
                            <p class="m-1" style="color:#fff; text-transform:uppercase; font-weight: bold; font-size: 0.8rem;"><b>Correo: </b>@item.Correo</p>
                        </div>
                    </div>
                    <div class="card-footer bg-transparent">
                        <div class="row justify-content-between">
                            <a class="col-5 btn btn-sm btn-primary mt-auto" href="/usuario/@item.IdUsuario">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                                </svg>
                            </a>
                            <button class="col-5 btn btn-sm btn-danger mt-auto" type="button" @onclick="(async () => await Eliminar(item))">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z" />
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    else
    {
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    }

</div>


@code {
    private List<UsuarioDTO>? lista = null;
    private string buscar = "";

    private async Task Obtener(string valor = "")
    {
        var response = await iUsuarioServicio.Listar("Administrador", valor);
        if (response.Correcto)
        {
            lista = (List<UsuarioDTO>)response.Resultado!;
        }
        else
        {
            lista = new List<UsuarioDTO>(); 
        }
    }


    protected override async Task OnInitializedAsync()
    {
        await Obtener();
    }

    private async Task Eliminar(UsuarioDTO modelo)
    {
        SweetAlertResult result = await SWAService.FireAsync(new SweetAlertOptions
            {
                Title = "¿Seguro?",
                Text = $"Eliminar usuario: {modelo.NombreCompleto}",
                Icon = SweetAlertIcon.Warning,
                ShowCancelButton = true,
                ConfirmButtonText = "ELIMINAR",
                CancelButtonText = "CANCELAR"
            });

        if (result.IsConfirmed)
        {
            var response = await iUsuarioServicio.Eliminar(modelo.IdUsuario);
            if (response.Correcto)
            {
                await Obtener();
                await SWAService.FireAsync(response.Mensaje);
                navService.Refresh();
            }
            else
            {
                await SWAService.FireAsync("Eliminado!");
                navService.Refresh();

            }
        }
    }

}
